.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buy-ticket{
    width: 70%;
    height: 50px;
    background-color: rgb(158, 198, 234);
    border-radius: 20px;
    &:hover{
        cursor: pointer;
        background-color: rgb(67, 132, 186);
    }
}