a {
    list-style: none;
    text-decoration: none;
}

.object, .object-hide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 3px solid black;
    width: 250px;
    height: 300px;
    box-shadow: 2px 1px;
    .id {
        padding-bottom: 20px;
        border-bottom: 1px solid black;

        h3 {
            text-align: center;
        }

        a {
            word-wrap: break-word;
            color: black;

            :hover {
                cursor: pointer;
            }
        }
    }

    .type {
        margin: 2px;
        width: 100%;
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 1px solid black;
    }

    .address {
        text-align: center;

        a {
            word-wrap: break-word;
            color: black;

            :hover {
                cursor: pointer;
            }
        }
    }

    .get-qrcode-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        :hover{
            cursor: pointer;
        }
    }
}
