.wrapper {
    width: 100%;
    margin-top: 5rem;
}

.swap,
.token,
.tick , .swap-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.token,
.tick {
    width: 100%;

    input {
        margin-top: 5px;
        width: 30%;
        min-width: 500px; 
    }
}
.tick{
}
.swap-btn{
    margin-top: 20px;
    width: 20%;
    height: 40px;
    border-radius: 10px;
    &:hover{
        cursor: pointer;
        background-color: azure;
    }
}
.swap-icon{
    justify-content: center;
    height: 60px;
    width: 30px;
    border-radius: 10px;
    font-size: 30px;
    &:hover{
        cursor: pointer;
        background-color: rgb(119, 205, 255);
    }
}