.wrapper {
    margin-top: 0.5rem;
}

.object {
    list-style: none;
}

.list-object {
    display: grid;
    grid-template-columns: 250px 250px;
    // grid-template-columns: 30em 20%;
    gap: 0.5rem;
}

.qr-code,
.qr-hide {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    .code {
        position: absolute;
        // top: 50%;
        // left: 50%;
        // font-size: 50px;
        // color: white;
        // transform: translate(-50%, -50%);
        // -ms-transform: translate(-50%, -50%);
    }
}

.qr-hide {
    display: none;
}