.wrapper{
    width: 550px;
    height: 700px;
    border-bottom: 2px solid green;
    margin: auto;
    border: 1px solid black;
}
.user-wallet, .user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-wallet{
    overflow-y: scroll;
    height: 85%;
    background-color: rgb(7, 106, 121);
}
.user-info{
    background-color: rgb(231, 241, 241);
    border-bottom: 2px solid green;
}
