.wrapper {
    background-color: rgb(117, 97, 243);
    width: 100%;
    height: 148px;

    // .status {
    //     display: flex;
    //     width: 80%;
    //     margin: auto;
    //     height: 100%;
    //     padding: 24px 0;
    // }
    .status{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        width: 80%;
        margin: auto;
        padding: 24px 0;
        height: 100%;
    }
}